/** BASE **/
@-ms-viewport {
	// the future "viewport" tags - no harm in adding it pre-support!
	width: device-width;
}
@viewport {
	width: device-width;
}

// The styles at the beginning of the stylesheet, modifying the structural elements of the layout
html, body {
	min-height: 100%; // in case we need a 100% screen-height stretch (must be present on all child divs to work correctly)
}
body {
	height: 100%;
	font-family: $body-font-family;
	font-size: $rem-base; // base font size - never change (only dollars)
	color: $body-font-color;
	background: $body-background;
	background-size: cover;
	background-attachment: fixed;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
#top {
	// sets a maximum width for site, to ensure nothing looks awful on large screens
	//max-width: 2560px;
	margin: 0 auto;
}

// ARON BOX MODE
div, section, article, aside {
	// container tags are purple
	border: 1px solid #b4d;
}
nav, header {
	// nav/header tags are blue
	border: 1px solid #00f;
}
table, thead, th, tbody, tfoot, tr, td {
	// tables are aqua
	border: 1px solid #0ff;
}
ul, ol {
	// uls and ols are green
	border: 1px solid #0f0;
}
li, p {
	// lis and paragraphs are bright green
	border: 1px solid #7f3;
}
.columns {
	// columns are red
	border: 1px solid #f00;
}
.row {
	// initial rows are pink
	border: 1px solid #f9c;
	.row {
		// embedded rows are purple/pink
		border: 1px solid #f0c;
	}
}
div, p, ul, li, section, article, aside, nav, header, table, thead, th, tbody, tfoot, tr, td, .columns, .row, .row .row {
	border-width: $aron-box-mode;
}


/* GENERAL CLASSES */
table[style] {
	// if a table has an inline styling, give it a max width, so it's impossible to break out of a container
	max-width: 100%!important;
}

h2, h3, h4, h5, h6 {
	@include breakpoint(medium down) {
		text-align: center;
		margin-top: 8px;
	}
}

// SELECTION (selecting text) & PLACEHOLDER (empty field placeholder text, for forms)
// please do not try to combine these via commas - they need to be their own independent elements
::-moz-selection {
	// Firefox needs its own unique selector
	color: $white;
	background: rgba($secondary-color, .8);
	text-shadow: none;
}
::-webkit-selection {
	// so does Chrome apparently
	color: $white;
	background: rgba($secondary-color, .8);
	text-shadow: none;
}
::selection {
	// this affects the background color of text and image selections
	color: $white;
	background: rgba($secondary-color, .8);
	text-shadow: none;
}
%placeholder-attribute {
	color: $medium-gray;
}
:-moz-placeholder {
	// Firefox 18-
	@extend %placeholder-attribute;
}
::-moz-placeholder {
	// Firefox 19+
	@extend %placeholder-attribute;
}
:-ms-input-placeholder {
	// ... take a guess
	@extend %placeholder-attribute;
}
:focus::-webkit-input-placeholder {
	// iOS disappear-on-focus hack
	color: transparent;
}

input[type="submit"] {
	position: relative;
	@include button(false, $robin-egg-blue, $robin-egg-blue, $white, solid);
	border: 1px solid rgba($robin-egg-blue,.3);
	transition: border 2s, box-shadow .5s;
	box-shadow: -4px 4px 5px -4px rgba(0,0,0,.5);
	&:active {
		border: 1px solid transparent;
		box-shadow: none;
	}
	@include disable-mouse-outline; // nifty feature that kills outlines for mouse users, but not for keyboard users
}
button {
	@include disable-mouse-outline;
}

// INLINE CLASSES
// before you add something to this, make sure it's not already provided by Foundation
// text-left, text-center, text-right -- float-left, float-center, float-right (clearfix to parent on floats)
.absolute {
	position: absolute!important;
}
.relative {
	position: relative!important;
}
.none, .hidden, [hidden] {
	display: none;
}
.sr-only {
	// hidden for sighted users, but not screenreaders
	overflow: hidden;
	position: absolute;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
}
// text styling
.uppercase {
	text-transform: uppercase;
}

/*/ GLOBAL CONTAINER /*/
#top {
	min-height: 100%;
}

// if the user has less than IE9... shame upon them and their houses
#ltie9 {
	display: block;
	background-color: $red;
	border: 1px solid $white;
	padding: 10px;
	text-align: center;
	color: $white;
}


/*/ HEADER /*/
#navContainer {
	background: $body-nav-bg;
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

/*/ NAV /*/
#mainNav {
	text-align: center;
	li {
		@include breakpoint(large) {
			height: 54px;
			a {
				padding: 0;
				font-family: $header-font-family;
				font-size: 16px;
				color: $body-font-color;
				border-bottom: 1px solid $robin-egg-blue;
				@include breakpoint(large down) {
					
				}
				&:hover {
					border-bottom: 1px solid transparent;
					color: scale-color($body-font-color, $lightness: 10%);
				}
			}
		}
		@include breakpoint(medium down) {
			a {
				background-color: $body-nav-bg;
				justify-content: center;
				font-family: $header-font-family;
				border-top: 1px solid #555;
				&:hover {
					background-color: scale-color($medium-gray, $lightness: -20%);
					color: $white;
				}
			}
		}
	}
}

/*/ MODULES /*/
// this would normally be plugins vital to the layout

/*/ FOOTER /*/
// Footer area content
#siteFooter {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	padding-top: 2%;
	font-size: 16px;
	font-family: $header-font-family;
	color: $white;
	background: $body-footer-bg;
	p {
		margin-top: 20px;
		font-family: $body-font-family;
		font-size: 16px;
		font-weight: bold;
		font-color: $white;
	}
	a {
		color: $white;
		font-weight: bold;
		&:hover {
			color: scale-color($white, $lightness: -20%);
		}
	}
	.menu a {
	}
}


// for newsletter submission field in footer
.newsWrapper {
	width: 100%;
	input {
		display: inline-block;
		width: 280px;
	}
	button {
		display: inline-block;
		width: 74px;
		margin: 0;
		height: rem-calc(9);
		padding: $fieldset-padding;
	}

}


// Back to Top
.backToTopBtn {
	display: inline-block;
	visibility: hidden;
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 40px;
	height: 40px;
	padding-top: 7px;
	font-family: 'FontAwesome';
	font-size: 18px;
	opacity: 0;
	color: $white;
	background: rgba($primary-color, .8) center 50%;
	box-shadow: 0 0 10px rgba(#000, .05);
	transition: opacity .3s 0s, visibility 0s .3s;
	text-align: center;
	white-space: nowrap;
	border-radius: $global-radius;
	@include breakpoint(medium down) {
		right: 20px;
		bottom: 20px;
	}
	&.bttVisible, &.bttFadeOut, .no-touch &:hover {
		transition: opacity .3s 0s, visibility 0s 0s;
	}
	&.bttVisible {
		// the button becomes visible
		visibility: visible;
		opacity: 1;
	}
	&.bttFadeOut {
		// if the user keeps scrolling down, the button is out of focus and becomes less visible
		opacity: .5;
	}
	.no-touch &:hover {
		opacity: 1;
		background-color: rgba($white, 1);
	}
}


